html, body {
  font-weight: normal;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 3rem;
  color: $gray--dark;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
